# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
.env

# AWS & SAM 
.aws-sam/

# macOS & VS Code
.DS_Store
.vscode/

# Jupyter Notebooks
.ipynb_checkpoints/

# Data files
*.pdf
!streamlit_app/sample_invoices/*.pdf
!tests/assets/*.pdf

# Misc
*.zip
.idea/
.pytest_cache/