# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
.env

# AWS & SAM
.aws-sam/
sam/.aws-sam/
*.template.yaml
*.log

# macOS
.DS_Store

# VS Code settings
.vscode/

# Data files
data/**/*.parquet
data/**/*.csv
*.pdf

# Misc
*.zip
.idea/

# Jupyter Notebook
.ipynb_checkpoints/
*.ipynb_checkpoints
*.nbconvert.ipynb
*.ipynb~  # backup temporanei
