# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
.env

# AWS & SAM build artifacts
.aws-sam/
samconfig.toml

# macOS & VS Code
.DS_Store
.vscode/

# Jupyter Notebooks
.ipynb_checkpoints/

# Data files (ignore all PDFs except sample/test assets)
*.pdf
!streamlit_app/sample_invoices/*.pdf
!tests/assets/*.pdf

# Misc
*.zip
.idea/
.pytest_cache/